################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WiseBees/.vs/WiseBees/v15/Server/sqlite3
